// colors
$black: red;
$heading-green: #085e63c0;
$text-grey: rgba(8, 18, 29, 0.603);
$blue: #4f72a056;


$raised-shadow: 0 0 20px rgba(0, 0, 0, 0.192);

$section-heading: 30px;
$section-padding: 20px;
$section-width-max: 800px;
$section-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.11), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
