// colors
$main-accent: #5b43d6;
$main-accent-light: #5b43d6a1;
$yellow-gradient: linear-gradient(180deg, #f2cf00 0, #f2b200 100%);
$black: rgba(0, 0, 0, 0.747);
$text-black: #212529;
$light-grey: #a9a9a9;
$yellow: rgb(240, 204, 4);
$heading-green: #085e63c0;
$text-grey: rgba(255, 255, 255, 0.842);
$blue: #4f72a056;

$raised-shadow: 0 0 20px rgba(0, 0, 0, 0.192);

$section-heading: 30px;
$section-padding: 20px;
$section-width-max: 800px;
$section-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.11), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

$mid-breakpoint:740px;
$min-breakpoint:606px;