
/* NAVBAR */
nav {
    position: fixed;
    z-index: 1;
	width: 100%;
    background-color: rgba(22, 45, 61, 0.822);
    margin: 0 auto;
    transition: color 200ms ease, background-color 200ms ease;
    top:0;
    left: 0;
    outline: none;
}
nav:hover{
    background-color: #080808ea;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
	color: rgb(255, 255, 255);
    padding: 2px;
	margin: 0 auto;
	transition: color 200ms ease, background-color 200ms ease;
}
nav .closed {
    color: rgb(250, 241, 164);
}
nav span {
    border-radius: 50%;
    background-color: transparent;
    padding: 10px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.11),
    -4px -4px 9px 0 rgba(255, 255, 255, 0.11);
}
nav a:hover{
	color:#e75959;   
}
nav a:active{
	color:#a59494;   
}
nav span:hover{
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.11) inset,
    -4px -4px 9px 0 rgba(255, 255, 255, 0.11) inset;   
}
#five button:hover{
    background-color: rgba(87, 135, 197, 0.062);
    box-shadow: 
 4px 4px 9px 0 rgba(0, 0, 0, 0.11),
    -4px -4px 9px 0 #4f72a01a; 
}
#five .location button:hover {
    background-color: rgba(236, 65, 65, 0.938);
}
#five button:active {
    background-color: transparent;
    box-shadow: 
 4px 4px 9px 0 rgba(0, 0, 0, 0.11),
    -4px -4px 9px 0 #4f72a01a; 
}
#five .location button:active {
    background-color: rgba(255, 0, 0, 0.349);
}

/* Image SLider Section */
body {
    background-image: linear-gradient(to bottom right, #4f72a056, white);
    margin: 0;
    padding: 20px;
    padding-top: 10vh;
    padding-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    
}
 
.head-container{
    width: 100%;
    height: 600px;
    max-width: 900px;
    padding: 0px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.11),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
.head-container .carousel{
    width: 100%;
    height: 90%;
    vertical-align: middle;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-color:#2C292F;
}

.head-container .carousel .pictureHolder{
    width: 100%;
    height: 100%;
    position: absolute;
}
img{
    width: 100%;
    height: 100%;
}
.head-container .carousel .pictureHolder .descriptionText{
    display: none;
    
}

.head-container .carousel .leftArrow,.head-container .carousel .rightArrow{
    width: 40px;
    background: #00000036;
    position: absolute;
    left: 0;
    transition: background 0.5s;
    height: 80px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.head-container .carousel .leftArrow:hover,.head-container .carousel .rightArrow:hover{
    background-color: #00000088;
}
.head-container .carousel .rightArrow{
    left: auto;
    right: 0;
}

.head-container .arrow{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 3px solid rgb(230, 229, 229);
    border-left: none;
    border-bottom: none;
    width: 15px;
    height: 15px;
    margin: auto;
    position: absolute;
    
}
.head-container .arrow.arrowLeft {
    transform: rotateZ(-135deg);
}
.head-container .arrow.arrowRight{
    transform: rotateZ(-315deg);
}
.head-container .carousel>.description{
    position: absolute;
    bottom: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: transparent; /* BLACK */
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.head-container .carousel>.description>.descriptionText{
    margin: 0;
}

.head-container #progressDots{
    width: 100%;
    height: 11%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.head-container #progressDots .dots{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: rgba(187, 187, 187, 0.836);
    cursor: pointer;
    transition:background-color 0.6s;
}

.head-container #progressDots .dots:hover,.head-container #progressDots .dots.active{
    background-color: #2c2b2bbe;;
}

.head-container .leftCurr{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;

}
.head-container .leftNexttSlide{
    animation-name: leftNextt;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes leftNextt {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}


.head-container .RightCurr{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.head-container .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

.animFromTop {
    animation-name: animFromTop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes animFromTop {
    from {opacity: 0;margin-top: -100px}
    to {opacity: 1;margin-top: 0px;}
}

hr {
    border: solid white dotted 3px;
}


/* REST OF THE SECTONS */
#three, #four, #five, #six {
    color: #00000081;
   height: 600px;
   width: 100%;
   text-align: center;
   background: transparent;
   margin: 0 auto;
   border-radius: 20px;
   box-shadow: 
   12px 12px 16px 0 rgba(0, 0, 0, 0.11),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
#two { 
    padding-top: 50px;
    position: sticky;
    font-weight: bold;
    width: 100%;
    height: 600px;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 
   12px 12px 16px 0 rgba(0, 0, 0, 0.11),
   -16px -16px 20px 0 rgba(255, 255, 255, 0.3);
}
#two h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color:#085f63;
    font-size: min(7vw, 50px);
}
#three h1, #four h1, #five h1, #six h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color:#085f63;
    font-size: 40px;
    font-weight: 400;
}
#three h3, #six h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgba(8, 18, 29, 0.603);
}
em {
color: rgb(20, 96, 182);
font-weight: 500;
}
#two h3{
    font-size: min(3vw, 36px);
}
#two p {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.411);
    font-family: 'Be Vietnam', sans-serif;
}
#two img {
    margin: 20px;
    margin: 0;
    margin-top: -20px;
    width: 50%;
    max-width: 400px;
    height: auto;
    justify-content: center;
}


#three ul{
    display: contents;
    justify-content: center;
}
#three .card {
    border-radius: 5px;
    margin: 0 auto;
    width: 70%;
    padding: 40px;
    max-width: 700px;
    height: 600px;
    background-color: transparent;
    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, 0.192);
    -moz-box-shadow:0 0 20px rgba(0, 0, 0, 0.192);
    box-shadow:0 0 20px rgba(0, 0, 0, 0.192);
}
#three .card img {
    margin: 0;
    width: min(4vw, 20px);
    border-radius:50%;
    box-shadow: 
    12px 12px 16px  rgba(0, 0, 0, 0.11),
    -12px -12px 16px  rgba(255, 255, 255, 0.3);
}

#three li {
    font-size: min(3vw,19px);
    text-align: justify;
    padding: 8px;
    list-style-position: outside;
    color: rgba(19, 129, 255, 0.685);
}
#three ul span{
    color: black;
}


#four p {
    margin: 30px;
    font-size: 100%;
    color: rgba(0, 0, 0, 0.411);
    font-family: 'Be Vietnam', sans-serif;
}
#four {
    padding-top: 20px;
    max-width: 900px;
}

#four img{
    background-color: white;
    border:0;
    border-radius: 50%;
    width: 50%;
    height: auto;
    max-width: 100px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.11),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
#four h1 {
    color:#085f63;
    font-size: min(6vw, 20px);
    
}
#four h3 {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align:  center;
}
#five{
    padding-top:20px;
}

#five ul{
    overflow-y: scroll;
    margin:20px;
    height: 450px;
    background-color: rgba(75, 75, 75, 0.068);
    border-radius: 10px;
    padding: 10px;
}
#five ul .class{
    height: 200px;
    width: 70%;
    margin: 0 auto;
    margin-top: 23px;
    padding: 25px;
    font-size: 13px;
    background-color: transparent;
    border-radius: 10px;
    border: 0px;
    color: #333333;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.11),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.336);
    overflow-y: scroll;
    cursor: pointer;
    text-align: justify;
    outline: 0;
    transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
#five h3 {
    color: rgb(20, 60, 77);
}
#six h3 {
    padding-bottom: 30px;
}
#six {
    padding: 20px;
    height: 300px;
    width: 90%;
}
#six a {
    border-radius: 10px;
    color: #333333;
    text-decoration: none;
    height: 50px;
    width: 100px;
    padding: 20px;
    box-shadow: 
    6px 6px 12px 0 rgba(0, 0, 0, 0.11),
    -4px -4px 6px 0 rgba(255, 255, 255, 0.514);
    transition: background-color 200ms ease-in-out,
     box-shadow 200ms ease-in-out;
}
#six a:hover {
    background-color: rgba(22, 45, 61, 0.822);
    box-shadow: 
    6px 6px 12px 0 rgba(3, 0, 29, 0.562),
    -4px -4px 6px 0 rgba(204, 224, 255, 0.705);
    color: whitesmoke;
}
#six a:active {
    box-shadow: 
    4px 4px 6px 0 rgba(0, 0, 0, 0.11) inset,
    -2px -2px 3px 0 rgba(255, 255, 255, 0.514) inset;
}


.footer {
    margin-left: -20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-bottom: -50px;
    text-align: center;
    background-color: #3d3d3d;
    width: 100%;
    height: 100px;
}
.footer img {
    width: 20%;
    max-width: 50px;
}
.footer p {
    color: #ffffffa2;
    font-size: 70%;
}


.page_title,
.what_to_do {
	font-weight: 300;
	line-height: 100%;
	text-align: center;
	text-shadow: 0 1px 5px rgba(0,0,0,.8);
	text-transform: uppercase;
}

/* PEN STYLES ========== */
a,
.side_menu {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

/* MENU CONTAINER ----- */
	.side_menu {
        background: rgb(241, 249, 255);
		height: 100vh;
		left: -80%;
		position: fixed;
		top: 0;
        width: 80%;
        box-shadow: 0 22px 30px  rgba(0, 0, 0, 0.247);
    }
    .list_load span {
        margin: 5px;
        color: #0b6fb3;;
    }
	.side_menu .container {
        padding: 0 1em;
        color: #085f63;
    }
     u {
        text-decoration: underline;
        text-decoration-color: black;
    }

/* HAMBURGER STYLES ----- */
	.burger_box {
		display: block;
		float: right;
		margin-right: -45px;
	}
	.burger_box a.menu-icon {
		display: inline-block;
		float: none;
		height: 25px;
		padding: 10px;
		opacity: .5;
		width: 25px;
		z-index: 100;
	}
	.burger_box a.menu-icon:hover,
	.burger_box a.menu-icon.opened {
		opacity: 1;
	}
	.burger_box a.menu-icon.opened {
		background: rgba(232, 233, 235, 0.9);
	}
	.burger_box .menu-icon_box {
		display: inline-block;
		height: 25px;
		position: relative;
		text-align: left;
		width: 25px;
	}
	.burger_box .menu-icon_line {
		background: #fff;
		border-radius: 2px;
		display: inline-block;
		height: 3px;
		position: absolute;
		width: 100%;
	}
	.burger_box .menu-icon_line--1 {
		top: 2px;
	}
	.burger_box .menu-icon_line--2 {
		top: 10px;
	}
	.burger_box .menu-icon_line--3 {
		top: 18px;
	}
	.burger_box .menu-icon_line--1 {
		transition: top 200ms 250ms, transform 200ms;
		-webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon_line--2 {
		transition: opacity 0ms 300ms;
		-webkit-transition: opacity 0ms 300ms;
	}
	.burger_box .menu-icon_line--3 {
		transition: top 100ms 300ms, transform 200ms;
		-webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_box {
		transform: scale3d(0.9, 0.9, 0.9);
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
	}
	.burger_box .menu-icon.opened .menu-icon_line {
		top: 10px;
	}
	.burger_box .menu-icon.opened .menu-icon_line--1 {
		transform: rotate3d(0, 0, 1, 45deg);
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		transition: top 100ms, transform 200ms 250ms;
		-webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--2 {
		opacity: 0;
		transition: opacity 200ms;
		-webkit-transition: opacity 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--3 {
		transform: rotate3d(0, 0, 1, -45deg);
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		transition: top 200ms, transform 200ms 250ms;
		-webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
	}

/* STAGGER LIST ----- */
	.list_load {
		display: none;
		list-style: none;
		padding: 0;
	}
	.list_item {
		margin-left: -20px;
		opacity: 0;
		-webkit-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.list_item a {
		color: #333333;
		display: block;
		padding: 5px 10px;
		text-decoration: none;
	}
	.list_item a:hover {
		background: rgba(255,255,255,.2);
    }
    
