@import "./helpers/variables.scss";
@font-face {
  font-family: logoFont;
  src: url("../../fonts/adlery-pro/Adlery-Pro-trial.ttf");
}

#about-font {
  font-family: logoFont;
}

.about-sub {
  font-weight: 500;
  font-size: 1.25em;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;

  @media (max-width: 800px) {
    font-size: 17px;
    max-width: 500px;
  }

  color: #333;
  i {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25em;
    color: black;
    font-weight: 900;
  }
}

.about-content {
  white-space: nowrap;
  margin: auto;
  max-width: 1500px;

  img {
    width: 100%;
    height: 450px;
  }

  p {
    color: gray;
  }
}

.row {
  display: flex;
  
}

.column {
  width: 33.3%;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .row {
    display: block;
  }

  .column {
    width: 70%;
    margin: auto;
  }
}