@keyframes move {
  100% {
    width: -20px;
    height: -20px;
  }
  50% {
    width: 20px;
    height: 20px;

    transform: translate3d(0, 0, 50px);
  }
}
.bubble-container {
  z-index: 0;
  position: absolute;
  min-width: 100vw;
  min-height: 100%;
  transform-style: preserve-3d;
  overflow-x: hidden;
}
.bubble-wrap {
  margin: 0 auto;
  width: 100%;
  height: 200px;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;
}
.bubble {
  position: absolute;
  background: rgba(0, 118, 253, 0.459);
  opacity: 0.7;
  border-radius: 50%;
  animation: move 3s infinite;
}

@for $i from 1 through 100 {
  .bubble:nth-child(#{$i}) {
    $size: random(30) + px;
    height: $size;
    opacity: random(7) * 0.1;
    width: $size;
    animation-delay: -$i * 0.2s;
    animation: move random(20s) infinite alternate-reverse ease-in-out;
    left: random(600) * 2px;
    top: random(500) * 1px;
  }
}
