.footer-img {
  background: $main-accent;
  width: 100%;
  position: absolute;
  height: 50px;
  bottom: 0;
  z-index: -1;
  left: 0;
  max-width: 200vw;
}
.footer {
  background: $yellow-gradient;
  color: $text-black;
  height: auto;
  .footer-content {
    padding: 10px 20px;
    border-radius: 50% 50% 0 0;
    max-width: 100%;
    @include flex-center(row);
    justify-content: space-between;
    .footer-icons {
      display: flex;
      justify-content: start;
      .footer-icon {
        padding: 10px;
        transition: border 0.1s ease-in-out;
        &:hover {
          cursor: pointer;
          border: 4px solid $yellow;
        }
      }
    }
    .footer-bottom {
      p {
        font-weight: bolder;
        font-family: logoFont;
        font-size: 25px;
      }
    }
    .right {
      font-weight: 500;
    }
    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      @media (max-width: $mid-breakpoint) {
        font-size: 20px;
      }
    }
    a {
      text-decoration: none;
      margin-top: 40px;
      padding: 10px 40px;
      width: 200px;
      font-size: 20px;
      color: $text-black;
      background: $yellow-gradient;
      border-radius: 20px;
      border: none;
      box-shadow: $raised-shadow;
    }
  }
}
