.footer {
    img {
        background: $main-accent-gradient;
        width: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        padding-bottom: 250px;
    }
    .footer-content {
        padding-top: 25%;
        border-radius: 50% 50% 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            color: rgb(255, 255, 255);
            @media (max-width: $mid-breakpoint) {
                font-size:20px;
            }
        }
        button {
            margin-top: 40px;
            padding: 10px 40px;
            color:$text-black;
            background: $yellow-gradient;
            border-radius: 20px;
            border: none;
            box-shadow: $raised-shadow;
        }
    }
}
