nav {
    position: fixed;
    z-index: 100;
	width: 100%;
    background-color: rgba(22, 45, 61, 0.822);
    margin: 0 auto;
    transition: color 200ms ease, background-color 200ms ease;
    top:0;
    left: 0;
    outline: none;
} 
nav:hover{
    background-color: #080808ea;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
	color: rgb(255, 255, 255);
    padding: 2px;
	margin: 0 auto;
	transition: color 200ms ease, background-color 200ms ease;
}
nav .closed {
    color: rgb(250, 241, 164);
}
nav span {
    border-radius: 50%;
    background-color: transparent;
    padding: 10px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.11),
    -4px -4px 9px 0 rgba(255, 255, 255, 0.11);
}
nav a:hover{
	color:#e75959;   
}
nav a:active{
	color:#a59494;   
}
nav span:hover{
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.11) inset,
    -4px -4px 9px 0 rgba(255, 255, 255, 0.11) inset;   
}