.project-section {
  width: 100%;
  z-index: 100;
  background-color: #f3f3f7;
  padding-bottom: 30px;
  h2 {
    margin: 0 auto;
    padding-top: 40px;
    width: 100%;
  }
  li.slide {
    background-color: rgba(255, 255, 255, 0);
  }
  .carousel .control-next.control-arrow:before {
    border-left: 8px solid $main-accent;
  }
  .carousel .control-prev.control-arrow:before {
    border-right: 8px solid $main-accent;
  }
  .carousel .control-dots .dot {
    background: $main-accent;
  }
  .carousel .carousel-status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 13px;
    color: #000;
  }
  .projects {
    z-index: 10;
    padding-bottom: 0px;
    .single {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 40px;
      padding-bottom: 80px;
      justify-content: center;
      align-items: center;

      .phone-video {
        display: block;
        width: 66%;
        height: auto;
        max-height: auto;
        @media (max-width: $mid-breakpoint) {
          margin: 0 auto;
          width: 70%;
        }
      }
      img {
        display: block;
        width: 36%;
        height: auto;
        max-height: auto;
        @media (max-width: $mid-breakpoint) {
          margin: 0 auto;
          width: 70%;
        }
      }
      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 40%;
        top: 0;
        h3 {
          color: grey;
        }
        @media (max-width: $mid-breakpoint) {
          margin: 0 auto;
          max-width: 100%;
          width: 80%;
        }
      }
    }
    .project-info {
      max-width: 46%;
      h3 {
        font-size: 28px;
        margin: 0;
        text-align: left;
      }
      p {
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 17px;
        max-width: 400px;
        color: grey;
        text-align: left;
        line-height: 1.5;
      }
      @media (max-width: $mid-breakpoint) {
        margin: 30px 45px;
        max-width: 100%;
        h3 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }

      ul {
        display: contents;
        justify-content: center;
        li {
          font-size: 15px;
          text-align: left;
          margin: 0 20px 5px 10px;
          margin-top: 0;
          list-style-position: outside;
          color: $main-accent;

          span {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.781);
            font-size: 15px;
            color: grey;
          }
        }
        @media (max-width: $mid-breakpoint) {
          margin: 0 auto;
          max-width: 100%;
        }
      }

      .project-btns {
        text-align: left;
        margin-top: 30px;
        .main-btn {
          background-color: $main-accent;
          color: $text-grey;
          width: auto;
          border-radius: 30px;
          border: 0;
          font-size: 16px;
          width: 110px;
          align-items: center;
          display: flex;
          text-decoration: none;
          font-size: 17px;
          font-weight: 400;
          padding: 10px;
          transition: 0.25s width ease-in-out;
          @media (max-width: $mid-breakpoint) {
            margin: 0 auto;
          }
          .arrow {
            display: none;
            transition-delay: 0.25s;
            transition: 5s display ease-in-out;
          }
          &:hover {
            width: 130px;
            .arrow {
              position: absolute;
              margin-left: 85px;
              display: block;
            }
          }
        }
        .disabled {
          background-color: #80808046;
          cursor: default;
          &:hover {
            width: 110px;
            .arrow {
              display: none;
            }
          }
        }
      }
    }
    .project-info-greater {
      width: 55%;
      max-width: 700px;
      margin-top: 0px;
      @media (max-width: $mid-breakpoint) {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
.back {
  background-image: url("");
  background-size: 100% 100%;
  background-repeat: none;
  @media (max-width: $mid-breakpoint) {
    background-image: url("");
  }
}
