.main {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: $main-accent-gradient;
  img {
    border-radius: 50%;
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 30px;
    right: 30px;
  }

  #two {
    min-height: 100%;
    height: 600px;
    display: grid;
    align-content: center;
    overflow: hidden;
    width: 100%;
    img {
      border-radius: 0;
      transform: rotate(180deg);
      height: 200px;
      left: 0;
      bottom: 0;
    }
    #image1 {
      animation: bottom-wave 7s infinite alternate-reverse;
    }
    #image2 {
      animation: bottom-wave 10s infinite alternate-reverse;
    }
    #image3 {
      animation: bottom-wave 5s infinite alternate-reverse;
    }
    .sli {
      left: -100%;
      transition: 5000ms left ease-out;
    }
    .top-img {
      left: 0;
      transition: 1000ms left ease-out;
    }
    .sli2 {
      left: -100%;
      transition: 1000ms left ease-out;
    }
    h1 {
      font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
      color: $text-grey;
      line-height: 1.3;
      font-weight: 550;
      text-align: center;
      margin: 0;
      .aspire {
        font-size: 25px;
        color: $text-grey;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 500px;
        #dev {
          margin: 0 auto;
          color: $yellow;
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          max-height: 40px;
          margin-bottom: 0;
          border-right: 2px solid $yellow;
          animation: typing 3s infinite;
          @keyframes typing {
            100% {
              max-width: 0px;
            }
            50% {
              max-width: 250px;
            }
            0% {
              max-width: 0px;
            }
          }
        }
      }
      @media (max-width: $mid-breakpoint) {
        font-weight: 400;
        font-size: 40px;
      }
    }
    p {
      color: $text-grey;
      font-size: 20px;
      font-weight: 400;
      margin: 0 0 30px 0;
      line-height: 1.6;
      margin-right: auto;
      margin-left: auto;
      width: 50%;
      padding: 0 80px;
      @media (max-width: $mid-breakpoint) {
        font-size: 16px;
        width: auto;
      }
    }
  }
}

#two,
#four {
  padding-top: 50px;
  position: sticky;
  font-weight: bold;
  width: 100%;
  height: auto;
  text-align: center;
}

#two {
  .section-container-btns {
    @include flex-center(row);
    z-index: 20;
    a {
      background-color: transparent;
      margin: 20px 10px 0 10px;
      font-weight: 400;
      border-radius: 10px;
      border: none;
      padding: 15px 25px;
      color: $text-black;
      font-size: 20px;
      text-decoration: none;
      cursor: pointer;
    }
    .mail {
      background-image: $yellow-gradient;
      background-color: #d1b204;
      box-shadow: $raised-shadow;
      transition: 200ms background-color ease-out;
    }
    .resume {
      color: $text-grey;
      border: solid 2px $text-grey;
      transition: 200ms background-color ease-out, 200ms border ease-in-out,
        200ms color ease-in-out;
    }
    .resume:hover {
      background-color: $main-accent-darker;
      border: solid 2px $yellow;
      color: $yellow;
    }
    .mail:hover {
      background-image: none;
      background-color: $yellow;
    }
  }
}
#two img {
  margin: 20px;
  margin: 0;
  margin-top: -20px;
  width: 50%;
  max-width: 400px;
  height: auto;
  justify-content: center;
}
@keyframes bottom-wave {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
#bottom-oval {
  width: 100%;
  margin-top: -10px;
  position: relative;
  height: 120px;
  background: #6c5ea0;
  border-radius: 0 0 50% 50%;
}
