.slider-header {
  font-weight: 400;
  font-size: 30px;
  padding: 10px 0;
  color: $text-black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  hr {
    background: rgb(197, 0, 0);
    width: 30px;
    height: 2px;
    border: none;
  }
}

.slider-container {
  margin: 20px;

  .slider {
    @include flex-center(row);
    .slider-content {
      max-width: fit-content;
      padding: 5px;
      width: 327px;
      h2 {
        color: $text-black;
        font-weight: 600;
        margin-top: 5px;
        font-size: 15px;
        h4 {
          font-size: 15px;
          color: $text-black;
          text-align: center;
          font-weight: 400;
          margin-top: 5px;
        }
      }
    }
    .slider-img {
      height: 50px;
      width: 50px;
      background-color: white;
      padding: 10px;
      margin-right: 10px;
      margin-left: 5px;
      transition: width 100ms ease-in-out, height 100ms ease-in-out;
      @media (max-width: $mid-breakpoint) {
        height: 40px;
        width: 40px;
      }
      &:hover {
        height: 60px;
        width: 60px;
      }
    }
  }
}
