@import "./components/experience.scss";
@import "./components/footer.scss";
@import "./components/navbar.scss";
@import "./components/projects.scss";
@import "./components/sectionCard.scss";
@import "./components/slider.scss";

@import "./helpers/variables.scss";

hr {
    width: 70%;
    background-color: $light-grey;
}
button:hover{
    cursor: pointer;
}