@import "./helpers/mixins.scss";
@import "./components/experience.scss";
@import "./components/footer.scss";
@import "./components/navbar.scss";
@import "./components/projects.scss";
@import "./components/sectionCard.scss";
@import "./components/slider.scss";

@import "./helpers/variables.scss";

hr {
  width: 70%;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-color: #d6d6d6;
}
button:hover {
  cursor: pointer;
}
